[submodule "ProductCatalogService"]
	path = ProductCatalogService
	url = https://github.com/arun-alagu/ProductCatalogService.git
[submodule "UserAuthenticationService"]
	path = UserAuthenticationService
	url = https://github.com/arun-alagu/UserAuthenticationService.git
